<!-- purple x moss 2020 -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/styles/404Style.css}" />
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="mainbox">
    <div class="err">4</div>
    <i class="far fa-question-circle fa-spin"></i>
    <div class="err2">4</div>
    <div class="msg">Ndoshta kjo faqe është zhvendosur ? U fshi ?
        Është duke u fshehur në karantinë?
        Asnjëherë nuk ka ekzistuar në radhë të parë?<p>Le të kthehemi në fillim <a th:href="@{/}">home</a> dhe ta provojmë nga aty.</p></div>
</div>
</body>
</html>