<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medieval Kahoot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
    <link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<!-- Navigation -->
<div class="container">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

        <a class="navbar-brand" href="#">Medieval Kahoot</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/allQuizes}">Quizzes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/allJsQuizzes}" > <i class="fa fa-fire"></i>JS Quizzes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
            </ul>

    </div>
</nav>


    <div class="row justify-content-center">
        <h1 class="display-4"></h1><br>
    </div>
    <div class="row justify-content-center">
        <h1 class="display-4"></h1><br>
    </div>
    <div class="row justify-content-center">
        <h1 class="display-4">Kuize Te JavaScript</h1><br>
    </div>

    <div class="row text-center">
        <div class="col-lg-3 col-md-6 mb-4" th:each="kuizi : ${listaMeKuizeJs}" >
            <div class="card h-100"  >
                <!--<img class="card-img-top" src="http://placehold.it/500x325" alt="">-->
                <div class="card-header">
                    <h4 class="card-title" th:text="${kuizi.getEmriKuizit()}"></h4>
                </div>
                <div class="card-body">
                    <p class="card-text" th:text="${'Kategoria : ' + kuizi.getKategoria()}"> </p>
                    <p class="card-text" th:text="${'Data : ' + kuizi.getDataKuizit()}"> </p>
                </div>

                <div class="card-footer">
                    <a th:href="@{home/playJSQuiz/{id}(id=${kuizi.getKuiziId()})}" class="btn btn-outline-success"><i class="fa fa-fw fa fa-play"></i>Fillo Kuizin</a>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>
</body>
</html>