<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Medieval Kahoot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles/dashboardStyle.css}" />
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://bryanrojasq.wordpress.com">
                <h3><i class="fa fa-lightbulb-o" aria-hidden="true"></i> 𝕸𝖊𝖉𝖎𝖊𝖛𝖆𝖑 𝕶𝖆𝖍𝖔𝖔𝖙</h3>
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li><a  data-placement="bottom" data-toggle="tooltip" href="#" data-original-title="Stats"><i class="fa fa-bar-chart-o"></i>
            </a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a th:href="@{/dashboardPage/kuizet}"><i class="fa fa-fw fa fa-question-circle"></i> Kuizi</a>
                </li>
                <li>
                    <a th:href="@{/dashboardPage/administratoret}"><i class="fa fa-fw fa-user-plus"></i> Administratoret</a>
                </li>
                <li>
                    <a th:href="@{/}"><i class="fa fa-sign-out"></i> Kthehu</a>
                </li>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <h1 th:text="${'Welcome ' + emriAdmin}"></h1>
                </div>
            </div>

            <div class="card mb-3">
                <div class="card-header">
                    <i class="fa fa-table"></i> Kuizet e krijuara nga ju</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Kuizi ID</th>
                                <th>Emri</th>
                                <th>Kategoria </th>
                                <th>Data</th>
                                <th>Kompetenca</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr th:each="kuizi : ${teGjitheKuizetByAdmin}">
                                <td th:text="${kuizi.getKuiziId()}"></td>
                                <td th:text="${kuizi.getEmriKuizit()}"></td>
                                <td th:text="${kuizi.getKategoria()}"></td>
                                <td th:text="${kuizi.getDataKuizit()}"></td>
                                <td>
                                    <a th:href="@{home/playQuiz/{id}(id=${kuizi.getKuiziId()})}" class="btn btn-primary"><i class="fa fa-fw fa fa-play"></i>Shiko</a>
                                    <a th:href="@{dashboardPage/deleteQuiz/{id}(id=${kuizi.getKuiziId()})}" class="btn btn-danger"><i class="fa fa-fw fa fa-play"></i>Fshije</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
    </div>
</div>
</body>
<script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
</script>
</html>
</html>
