<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Points</title>
    <link rel="stylesheet" th:href="@{/styles/jsStylePoints.css}">

</head>
<body>

<div class="loader">
    <div class="loader-bg">
        <span th:text="${playerName}"></span>
    </div>
    <h1 th:text="${'Ju keni ' + userPoints + ' pike'}"></h1>
    <div class="drops">
        <div class="drop1"></div>
        <div class="drop2"></div>
    </div>
</div>
<svg xmlns="http://www.w3.org/2000/svg" version="1.1">
    <defs>
        <filter id="liquid">
            <feGaussianBlur in="SourceGraphic" stdDeviation="10" result="blur" />
            <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="liquid" />
        </filter>
    </defs>
</svg>

</body>
</html>