<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Points</title>
    <link rel="stylesheet" th:href="@{/styles/stylePoints.css}">

</head>
<body>

<div class="button_container">
    <p class="description" th:text="${'Ju keni bere pike me shume se ' + saPersonaMbrapa + ' persona '}"></p>
    <button class="btn"><span>Dren Bilalli</span></button>
    <p class="description" th:text="${countPiket + ' pike'}"></p>

</div>

</body>
</html>