<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Quize</title>
<!--    <link rel="stylesheet" th:href="@{css/sss.css}">-->
    <link rel="shortcut icon" href="images/apphp.ico">

    <link rel="stylesheet" type="text/css" href="templates/default/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="templates/default/css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="templates/default/css/style.css">

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap-extended.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/fonts/simple-line-icons/style.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/colors.min.css">
<link rel="stylesheet" type="text/css" href="https://pixinvent.com/stack-responsive-bootstrap-4-admin-template/app-assets/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">Online Quize</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Quizes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="login.html">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br><br><br><br>


                                          <!-- KETU MUND TE NXIRRESH PYETJET -->

    <div class="container survey-content">
    <div class="row">
        <div class="span12" >
            <div class="pytje" >
            <form id="survey" action="surveys/show/code/AMB6S0P8JA/page/1" method="post"  >
                <div class="pyetjet" th:each="pyetje : ${listamepyetje}">
                <input type="hidden" value="9f466a9cfe4d09f4e0f3024762c0f9c5" name="APPHP_CSRF_TOKEN">

                <input type="hidden" value="send" name="act" id="act">
                <input type="hidden" value="" name="questionnaire_item_data" id="questionnaire_item_data">
                <input type="hidden" value="" name="questionnaire_item_score" id="questionnaire_item_score">
                <input type="hidden" value="" name="questionnaire_item_total_score" id="questionnaire_item_total_score">
                <div id="q-1" class="question-wrapper" data-question-id="1" data-question-code="item_1" data-question-type="1" >
                    <div id="q-inner-wrapper-1" class="question-type-example" >
                        <strong> <span class="required-field"></span><h2 th:text="${pyetje.getPyetja()}"></h2><span class="tooltip-link"></span></strong>
                        <div>
                            <ul>
                                <li><input type="checkbox" value="1" id="_1_1" name="item_1" class="css-checkbox-button" onclick="normalOptionOnCheck('item_1')"> <label for="_1_1" class="css-checkbox-button-label" th:text="${pyetje.getOpsioniA()}"></label></li>
                                <li><input type="checkbox" value="2" id="_1_2" name="item_1" class="css-checkbox-button" onclick="normalOptionOnCheck('item_1')"> <label for="_1_2" class="css-radiobutton-label" th:text="${pyetje.getOpsioniB()}"></label></li>
                                <li><input type="checkbox" value="3" id="_1_3" name="item_1" class="css-checkbox-button" onclick="normalOptionOnCheck('item_1')"> <label for="_1_3" class="css-radiobutton-label" th:text="${pyetje.getOpsioniC()}"></label></li>
                                <li><input type="checkbox" value="3" id="_1_4" name="item_1" class="css-checkbox-button" onclick="normalOptionOnCheck('item_1')"> <label for="_1_3" class="css-radiobutton-label" th:text="${pyetje.getOpsioniD()}"></label></li>
                            </ul>
                            <div class="clear-both"></div>
                        </div>
                    </div>
                </div>
                <hr>
                </div>

                <br>
                <input type="submit" class="btn" id="questionnaire-next" value="Continue »">
            </form>
            <br>
            <br>

        </div>
    </div>
    </div>
    </div>


    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
    </footer>

</body>
</html>































<!--

 Duht me fshi qett pjesen posht



<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Quiz</title>
    &lt;!&ndash; Font Awesome &ndash;&gt;
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    &lt;!&ndash; Google Fonts &ndash;&gt;
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    &lt;!&ndash; Bootstrap core CSS &ndash;&gt;
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    &lt;!&ndash; Material Design Bootstrap &ndash;&gt;
    <link href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-4.18.0.min.css?ver=4.18.0"
          rel="stylesheet">
    &lt;!&ndash;<link rel="stylesheet" href="styles.css">&ndash;&gt;
    <link rel="stylesheet" th:href="@{css/styles1.css}">



    &lt;!&ndash; Global site tag (gtag.js) - Google Analytics &ndash;&gt;
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-60512242-3"></script>

    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-60512242-3');
    </script>
</head>

<body>

<section id="statistics"  style="margin-bottom: 10px;background: #FAFAFA;" class="jobguru-pricing-area section_50 ">
    <div class="container">
        <div class="col-lg-12 col-md-12">
            <div class="dashboard-right">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="widget_card_page grid_flex widget_bg_blue">
                            <div class="widget-icon">
                                <i class="fa fa-briefcase"></i>
                            </div>
                            <div class="widget-page-text">
                                <h4>4944</h4>
                                <h2>Jobs</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="widget_card_page grid_flex  widget_bg_purple">
                            <div class="widget-icon">
                                <i class="fa fa-building"></i>
                            </div>
                            <div class="widget-page-text">
                                <h4>215</h4>
                                <h2>Companies</h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12">
                        <div class="widget_card_page grid_flex widget_bg_dark_red">
                            <div class="widget-icon">
                                <i class="fa fa-users"></i>
                            </div>
                            <div class="widget-page-text">

                                <h4>80,000</h4>
                                <h2>Monthly Visits</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

&lt;!&ndash; Button trigger modal &ndash;&gt;
&lt;!&ndash;


<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     style="display: none;" data-gtm-vis-first-on-screen-2340190_1302="1921"
     data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-success" role="document">
        &lt;!&ndash;Content&ndash;&gt;
        <div class="modal-content">
            &lt;!&ndash;Header&ndash;&gt;
            <div class="modal-header">
                &lt;!&ndash; Add logic to define whether someone has passed test or not  &ndash;&gt;
                <p class="heading lead">Quiz finished</p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">×</span>
                </button>
            </div>

            &lt;!&ndash;Body&ndash;&gt;
            <div class="modal-body">
                <div class="text-center">
                    <i class="fas fa-check fa-4x mb-3 animated rotateIn"></i>
                    <h2>Congratulation, you have finished JavaScript quiz.</h2>
                    <p class="result">You have correctly answered <span id="scoreSummary"></span> out of <span
                            id="totalSummary"></span> questions.</p>
                    <p>Nominate your friend for a challenge:


                    </p>

                    <a id="fbshare" href=""
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600'); return false;"><button
                            type="button" class="btn btn-fb"><i class="fab fa-facebook-f mr-1"></i> Nominate friend
                        for a challenge </button></a>
                    &lt;!&ndash;Twitter&ndash;&gt;
                    <a id="twshare" href=""
                       onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;"><button
                            type="button" class="btn btn-tw"><i class="fab fa-twitter mr-1"></i> Nominate friend for
                        a challenge</button></a>
                    &lt;!&ndash;Google +&ndash;&gt;
                </div>
                <img src="https://mdbootstrap.com/wp-content/uploads/2016/11/admin-dashboard-bootstrap.jpg"
                     alt="Material Design for Bootstrap - dashboard" class="img-fluid">

            </div>

            &lt;!&ndash;Footer&ndash;&gt;
            <div class="modal-footer text-center">
                <a type="button" class="btn btn-outline-info waves-effect" data-dismiss="modal"
                   onclick="location.reload();">Restart JavaScript
                    Test</a>
                <a href="https://mdbootstrap.com/it-quiz/" type="button" class="btn btn-outline-info waves-effect"
                   data-dismiss="modal">Try other tests</a>
                <a href="https://www.youtube.com/watch?v=5aQXe80b9tE&t=2s" type="button"
                   class="btn btn-outline-info waves-effect" data-dismiss="modal">Learn JavaScript</a>
            </div>
        </div>
        &lt;!&ndash;/.Content&ndash;&gt;
    </div>
</div>
&ndash;&gt;


&lt;!&ndash; JQuery &ndash;&gt;
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
&lt;!&ndash; Bootstrap tooltips &ndash;&gt;
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js">
</script>
&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
&lt;!&ndash; MDB core JavaScript &ndash;&gt;
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.16.0/js/mdb.min.js">
</script>
<script type="text/javascript"  src="/static/js/app.js"></script>

&lt;!&ndash; hejj hejj &ndash;&gt;

</body>

-->
