<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tabelat</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</head>
<body>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Data Table Example</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>Emri i Kuizit</th>
                    <th>Emeri i Lojtarit</th>
                    <th>Piket e Fituara</th>
                    <th>Data e Luajtjes</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="emri : ${KuizeteLuajtrua}">
                    <td th:text="${emri.getEmriKuizit()}"></td>
                    <td th:text="${emri.getEmriLojtarit()}"></td>
                    <td th:text="${emri.getPiket()}"></td>
                    <td th:text="${emri.getDataLuajtjes()}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
</footer>


</body>
</html>
