
html, body {
    padding-top: 20px;
}

[data-role="dynamic-fields"] > .form-inline + .form-inline {
    margin-top: 0.5em;
}

[data-role="dynamic-fields"] > .form-inline [data-role="add"] {
    display: none;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="add"] {
    display: inline-block;
}

[data-role="dynamic-fields"] > .form-inline:last-child [data-role="remove"] {
    display: none;
}
.container{
    padding-left: 28% !important;
}
.form-horizontal .form-group{
    margin-right: 110px !important;
    margin-left: -15px !important;
}
@media (min-width: 992px){
    .col-md-4 {
        width: 75.333333% !important;
    }}

#magicButton {
    float: right !important;
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}